.cartIcon--minicart {
  color: #ffffff;
  width: 22px !important;
  height: 22px !important;
}

.minicartCheckoutButton :global(.vtex-button__label) {
  font-size: 0;
}
.minicartCheckoutButton :global(.vtex-button__label)::before {
  content: "Comprar";
  font-size: 1.1rem;
}
