.containerNormal {
  min-width: 250px;
  width: min(100%, 300px);
}


.element {
  aspect-ratio: 1/1;
  transform: scale(0.8);
  padding: 0.2rem 0.7rem;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 10px 4px 14px 0px rgba(0, 0, 0, 0.08);
  background: white;
}

.clearLink{
  padding: 0;
  margin: 0;
}

.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround,
.skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
}

.nameContainer :global(.vtex-product-summary-2-x-productBrand){
  justify-content: center;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #3f3f40;
}

.brandName {
  font-weight: 600;
  font-size: 18px;
  color: #2e2e2e;
}

.container {
  text-align: start;
}

.imageContainer {
  text-align: center;
}

.image {
  border-radius: 0.25rem;
}
