
.flexRowContent--selling-price :global(.vtex-product-price-1-x-currencyContainer){
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #0066B2;
}

.flexRow--categories{
  padding: 1.5rem 0px;
}
.flexRow--selling-price{
  font-size: 1.5rem;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexColChild--deals-col {
  display: flex;
  align-items: center;
}

.flexRow--deals {
  padding: 17px 0px;
  margin-bottom: 0px;
}

.flexRowContent--menu-link {
  background-color: #1DB9EF;
  color: #fff;
}

.flexRowContent--main-header {
  background-color: #f0f0f0;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #f0f0f0;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}
.flexCol--deals-col{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.flexCol--deals-col-2{
  border-left: 1px solid;
  border-right: 1px solid;
}

.flexRow--deals {
  background-color: #ffffff;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
  margin-bottom: 5px;
  padding-top: 5px;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}
