.searchBarContainer{
  width: 500px;
}

.imageElement--ofertas {
  width: 100%;
}

.imageElement--categories {
  height: 100px;
  width: 100px;
  padding: 15px;
  object-fit: cover;
  border-radius: 100%;
  border: 2px solid rgba(0, 0, 0, 0.08);
  box-shadow: 10px 4px 14px 0px rgba(0, 0, 0, 0.08);
}

.imageElement--tarjetas{
  margin-top: 1em;
}

.infoCardContainer--info-card-home {
  border-radius: 10px;
}

.infoCardHeadline--info-card-home {
  color: #ffffff;
  font-weight: bold;
}

.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .label {
    font-size: 40px;
  }
  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }
  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }
  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}

:global(.vtex-product-summary-2-x-productNameContainer) {
  text-align: center;
}

.image {
  image-rendering: -webkit-optimize-contrast;
}

.productImage--pdp {
  box-shadow: 10px 4px 14px 0px rgba(0, 0, 0, 0.08);
  border-radius: 17px;
  margin: 10px;
  background-color: white;
}

.carouselGaleryThumbs {
  display: flex;
  justify-content: center;
}
.carouselGaleryThumbs :first-child {
  width: 100%;
}
.carouselGaleryThumbs :first-child :first-child {
  width: 100%;
  display: flex !important;
  justify-content: center !important;
  gap: 22px;
}
.productImagesThumb {
  width: 103px !important;
  height: 103px !important;
  background-color: transparent;
}
.thumbImg {
  width: 103px !important;
  height: 103px !important;
  border-radius: 17px;
  box-shadow: 10px 4px 14px 0px rgba(0, 0, 0, 0.08);
}

.shippingContainer {
  display: flex;
  align-items: flex-end;
  position: relative;
  margin: 15px 0;
}

.shippingContainer
  :global(.vtex-address-form__postalCode)
  :last-child:not(:global(.vtex-input-prefix__group)):not(
    :global(.vtex-input__suffix)
  ) {
  position: absolute;
  top: 0;
  right: 0;
  width: max-content;
  color: #888c8a;
  line-height: 12px;
  font-size: 10px;
  font-weight: 400;
}

.shippingContainer :global(.vtex-address-form__postalCode) {
  /*max-width: 240px;*/
  padding-bottom: 0;
}

.shippingContainer :global(.vtex__icon-external-link) {
  display: none;
}

.shippingContainer :global(.vtex-input-prefix__group) {
  border: 1px solid #c8ccca;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  height: 40px;
}

.shippingContainer :global(.vtex-address-form-4-x-input) {
  padding: 0 0 0 0px;
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  color: #888c8a;
}

.shippingContainer :global(.vtex-input__suffix) {
  padding: 0 0px 0 0;
}

.shippingContainer :global(.vtex-button) {
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  transition: 0.2s all;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.shippingContainer :global(.vtex-button__label) {
  background: #fff;
  height: 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: #888c8a;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #c8ccca;
  padding: 0px;
}

:global(.vtex-store-components-3-x-shippingConteiner) {
  font-size: 11px;
}

:global(.vtex-store-components-3-x-shippingTableLabel) {
  font-size: 11px;
}

:global(.vtex-store-components-3-x-imageElement--collection-panel-img) {
  width: 100%;
}

:global(.vtex-store-components-3-x-imageElement--medios-pago-img) {
  width: 50%;
}

@media only screen and (max-width: 375px) {
  .shippingContainer :global(.vtex-input__label)::before {
    font-size: 10px;
  }
}

.shippingTableRadioBtn {
  visibility: hidden;
}

.swiperBullet--active :global(.vtex-store-components-3-x-swiperBullet) {
  background: red;
}

.imageElementLink--footer-redclover-icon {
  margin-left: 15px;
  border-right: 1px solid #fff;
  padding-right: 15px;
}

.imageElement--footer-m3-icon {
  margin: 0 14px;
}

.productBrandNameLink--marca-product-pdp{
  text-decoration: none !important;

}

.productBrandContainer--marca-product {
  display: flex;
  justify-content: center;
}

.productBrandName--marca-product {
  font-family: "Montserrat",sans-serif;
  color: #9d9d9c;
  font-weight: 800;
  padding: 3px 5px;
  font-size: 1.2rem;
}

.productBrandContainer--marca-product-pdp {
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
}

.productBrandName--marca-product-pdp {
  font-family: "Montserrat",sans-serif;
  color: #9d9d9c;
  font-weight: 800;
  font-size: 1.4rem;
}

.logoLink--logo-footer {
  text-align: end;
}

.caretIcon--pdp{
  width: 14px;
}

@media only screen and (max-width: 768px) {
  .logoLink--logo-footer {
    text-align: center !important;
    justify-content: center !important;
    margin-bottom: 5px;
  }
}

.logoImage--logo-footer {
  background-color: #1cb7ec;
  padding: 3px;
  border-radius: 30px;
}
