.menuContainerNav {
  display: flex;
  align-items: start;
}

@media only screen and (max-width: 768px) {
  .menuContainerNav--container {
    margin: auto;
    display: block;
    margin-top: 20px;
  }
}

.styledLinkContent {
  font-size: 14px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #9d9d9c;
  font-weight: 800;
  font-weigth: bold;
}

.styledLinkContent--nosotros,
.styledLinkContent--sucursales {
  font-size: 16px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #ffffff !important;
}

.styledLinkContent--items-footer {
  justify-content: start;
  font-weight: 400;
  color: black;
}
.styledLinkContent--contacto-footer {
  justify-content: end !important;
  font-weight: 400;
  color: black;
  font-size: 13px;
}
.styledLinkContent--contacto-footer-title {
  margin-top: 10px;
}

.styledLinkContent--items-footer-title {
  font-size: 14px;
  font-weight: 600;
  color: black;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .styledLinkContent--items-footer-title,
  .styledLinkContent--items-footer {
    text-align: center !important;
    justify-content: center !important;
  }
}

.styledLinkContent--arrepentimiento {
  background-color: #0066b2;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 20px;
  color: white;
  margin-bottom: 10px;
}
