.menuContainerNav {
  display: flex;
  align-items: start;
  width: 100%;
}

.accordionIcon {
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuContainer {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .menuContainerNav--container {
    margin: auto;
    display: block;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .styledLinkContent--primario,
  .styledLinkContent--noaccordion {
    font-size: 18px;
    display: flex;
    justify-content: space-beetween;
    align-items: center;
    color: #565656 !important;
  }
}

.styledLinkContent {
  font-size: 14px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #9d9d9c;
  font-weight: 800;
  font-weigth: bold;
}

.styledLinkContent--primario {
  border-bottom: 1px solid #c5c8c6;
  padding: 5px 0px;
}
.styledLinkContent--secundario {
  font-size: 15px;
  font-weight: normal;
  gap: 1;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-beetween;
  align-items: center;
  color: #565656;
}

.styledLinkContent--nosotros,
.styledLinkContent--sucursales {
  font-size: 16px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #ffffff !important;
}

.styledLinkContent--items-footer {
  justify-content: start;
  font-weight: 400;
  color: black;
}
.styledLinkContent--contacto-footer {
  justify-content: end !important;
  font-weight: 400;
  color: black;
  font-size: 13px;
}
.styledLinkContent--contacto-footer-title {
  margin-top: 10px;
}

.styledLinkContent--items-footer-title {
  font-size: 14px;
  font-weight: 600;
  color: black;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .styledLinkContent--items-footer-title,
  .styledLinkContent--items-footer {
    text-align: center !important;
    justify-content: center !important;
  }
}

.styledLinkContent--arrepentimiento {
  background-color: #0066b2;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 20px;
  color: white;
  margin-bottom: 10px;
}
