.flexRowContent--selling-price
  :global(.vtex-product-price-1-x-currencyContainer) {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #0066b2;
}

.flexCol--right-col {
  padding: 1rem;
  border-radius: 17px;
  box-shadow: 10px 4px 14px 0px rgba(0, 0, 0, 0.08);
}

.flexRow--categories {
  padding: 1.5rem 0px;
}
.flexCol--categories {
  padding: 1.5rem 0;
}
.flexRow--selling-price {
  font-size: 1.5rem;
}

.flexRowContent--product-selling-price {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexColChild--deals-col {
  display: flex;
  align-items: center;
}

.flexRow--deals {
  padding: 17px 0px;
  margin-bottom: 0px;
}

.flexRowContent--menu-link {
  align-items: center;
  background-color: #1db9ef;
  color: #fff;
}

.flexRowContent--main-header {
  background-color: #f0f0f0;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #1db9ef;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}
.flexCol--deals-col {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.flexCol--deals-col-2 {
  border-left: 1px solid;
  border-right: 1px solid;
}

.flexRow--deals {
  background-color: #ffffff;
  padding: 14px 0px;
}

@media only screen and (max-width: 768px) {
  .flexRow--deals {
    background-color: transparent; 
  }
}


.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
  margin-bottom: 5px;
  padding-top: 5px;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

.flexRow--cross {
  max-width: 1280px;
  margin: auto;
}

.flexRow--footer-bottom {
  display: flex;
  justify-content: center;
  padding: 13px 0;
  background-color: #3c3c3c;
}

.flexRowContent--footer-bottom {
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  padding: 0 15px;
}

.flexRowContent--footer-development {
  align-items: center;
  padding: 0 !important;
}
.flexCol--tarjeta{
  width: fit-content;
}
.flexColChild--tarjeta :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin: 0 !important;
}
/* 
@media only screen and (max-width: 1025px) {
  .flexRow--footer-bottom {
    padding: 12px 8px;
  }
} */
