.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}

.socialNetworksContainer--social-networks{
  justify-content: end;
  padding: 2px 15px;
}

@media only screen and (max-width: 768px) {
  .socialNetworksContainer--social-networks {
    text-align: center !important;
    justify-content: center !important;
  }
}

.socialNetworkImage--social-networks{
  width: 30px;
}